certifi==2022.12.7
chardet==3.0.4
click==6.7
Django==1.8.18
django-countries==5.0
django-handleref==0.1.5
django-inet==0.3.2
django-peeringdb==0.4.0
Flask==0.12.2
Flask-Compress==1.4.0
future==0.16.0
gevent==1.2.2
greenlet==0.4.12
idna==2.6
ipaddress==1.0.18
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
munge==0.4.0
netaddr==0.7.19
peeringdb==0.6.0
pkg-resources==0.0.0
pytz==2017.2
PyYAML==3.12
requests==2.18.4
six==1.11.0
tqdm==4.19.4
twentyc.rpc==0.3.5
Unidecode==0.4.21
urllib3==1.22
Werkzeug==0.12.2
